[Unit]
Description=Etcd for Kubernetes
After=network.target

[Service]
Type=notify
Environment=ETCD_UNSUPPORTED_ARCH=arm
Environment=HOST_IP={{ ansible_default_ipv4.address }}
ExecStartPre=/bin/sleep 5s
ExecStart=/bin/bash -c "/usr/bin/etcd --name $(hostname) \
  --data-dir /var/lib/etcd/data \
  --initial-advertise-peer-urls http://$HOST_IP:2380 \
  --listen-peer-urls http://$HOST_IP:2380 \
  --listen-client-urls http://$HOST_IP:2379,http://127.0.0.1:2379 \
  --advertise-client-urls http://$HOST_IP:2379 \
  --initial-cluster-token pi-cluster \
  --initial-cluster {{ etcd_cluster }} \
  --initial-cluster-state new"
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
