apiVersion: v1
kind: Service
metadata:
  name: registry
spec:
  ports:
  - name: https
    port: 443
    targetPort: 5000
  selector:
    app: registry
  clusterIP: {{ registry_service_cluster_ip }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: registry
spec:
  selector:
    matchLabels:
      app: registry
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: registry
    spec:
      containers:
      - image: apcheamitru/arm32v7-registry:2.6.2
        name: registry
        ports:
        - containerPort: 5000
        env:
        - name: REGISTRY_HTTP_TLS_CERTIFICATE
          value: "/tls/tls.crt"
        - name: REGISTRY_HTTP_TLS_KEY
          value: "/tls/tls.key"
        volumeMounts:
        - name: registry-persistent-storage
          mountPath: /var/lib/registry
        - name: registry-tls-volume
          mountPath: "/tls"
          readOnly: true
      volumes:
      - name: registry-persistent-storage
        persistentVolumeClaim:
          claimName: registry-pv-claim
      - name: registry-tls-volume
        secret:
          secretName: registry-tls
