[Unit]
Description=Kubelet for Kubernetes
After=docker.service
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/hyperkube kubelet \
  --config=/etc/kubernetes/kubelet/config.yml \
  --kubeconfig=/etc/kubernetes/kubelet/kubeconfig.yml
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target

