---
kind: Pod
apiVersion: v1
metadata:
  name: kube-controller-manager
spec:
  hostNetwork: true
  containers:
  - name: kube-controller-manager
    image: "{{ hyperkube_image_name }}:{{ hyperkube_image_tag }}"
    command:
    - /hyperkube
    - controller-manager
    - "--master=127.0.0.1:8080"
    - "--root-ca-file=/etc/ssl/certs/ca.crt"
    - "--service-account-private-key-file=/etc/kubernetes/controller-manager/sa-private.pem"
    - "--leader-elect=false"
    volumeMounts:
    - name: controller-manager-config-files
      mountPath: "/etc/kubernetes/controller-manager"
      readOnly: true
    - name: ssl
      mountPath: "/etc/ssl"
      readOnly: true
    livenessProbe:
      httpGet:
        scheme: HTTP
        host: 127.0.0.1
        port: 10252
        path: "/healthz"
      initialDelaySeconds: 30
      timeoutSeconds: 15
  volumes:
  - name: controller-manager-config-files
    hostPath:
      path: "/etc/kubernetes/controller-manager"
  - name: ssl
    hostPath:
      path: "/etc/ssl"