apiVersion: v1
clusters:
- cluster:
    server: http://{{ master_ip }}
  name: pi-cluster
contexts:
- context:
    cluster: pi-cluster
  name: default
current-context: "default"
kind: Config
preferences: {}
users: