apiVersion: v1
kind: Config
clusters:
- name: pi-cluster
  cluster:
    server: https://{{ master_ip }}:6443
    certificate-authority: /etc/ssl/certs/ca.crt
users:
- name: {{ item.user_name }}
  user:
    token: {{ item.user_token }}
contexts:
- name: default
  context:
    cluster: pi-cluster
    user: {{ item.user_name }}
current-context: default